* {
  box-sizing: border-box;
}


html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color:#F7FAFC;
 
}
h2 {
  text-transform: capitalize;
}

h3::first-letter {
  text-align: uppercase;
}

#app {
display: flex;
}

.coshema {
  display: flex;
  align-items: center;
}
